<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }

        div.error_msg {
            border: 1px solid #f00;
            background-color: #fcc;
        }
    </style>
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/books/save}" th:object="${book}" accept-charset="utf-8">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="Автор" th:field="*{author}" />
                    <div class="error_msg" th:if="${#fields.hasErrors('author')}" th:errors="*{author}" />
                </td>
                <td>
                    <input type="text" placeholder="Название книги" th:field="*{title}" />
                    <div class="error_msg" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
                </td>
                <td>
                    <input type="text" placeholder="Размер (в страницах)" th:field="*{size}" />
                    <div class="error_msg" th:if="${#fields.hasErrors('size')}" th:errors="*{size}" />
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove}" th:object="${bookIdToRemove}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="id number" th:field="*{id}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong id or not found</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <input type="file" name="file"/>
                </td>
                <td>
                    <input type="submit" value="Upload">
                </td>
            </tr>
            <tr th:if="${upload_error != null}">
                <td colspan="2">
                    <div class="error_msg" th:text="${upload_error}" />
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/removeByRegex}" th:object="${bookRegexToRemove}">
        <table>
            <tr>
                <td colspan="2">
                    <div style="text-align: center;">Removal by regular expression</div>
                </td>
            </tr>
            <tr>
                <td>Expression:</td>
                <td><input type="text" placeholder="Regular expression" th:field="*{regex}" /></td>
            </tr>
            <tr th:if="${#fields.hasErrors('regex')}">
                <td colspan="2">
                    <div class="error_msg" th:errors="*{regex}" />
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Remove"></td>
            </tr>
            <tr th:if="${books_removed_by_regex != null}">
                <td colspan="2">
                    <div th:if="${books_removed_by_regex == 0}" style="background-color: #0f0;">
                        No books were found by provided expression
                    </div>
                    <div
                            th:if="${books_removed_by_regex > 0}"
                            style="background-color: #0f0;"
                            th:text="${books_removed_by_regex + ' books were removed'}" />
                </td>
            </tr>
            <tr th:if="${remove_by_regex_error != null}">
                <td>
                    <div class="error_msg" th:text="${remove_by_regex_error}" />
                </td>
            </tr>
        </table>
    </form>

    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>
</div>
</body>
</html>