<!DOCTYPE html>
<html   lang="en"
        xmlns:th="http://www.thymeleaf.org/"
        th:replace="~{ fragments/whole_page :: whole_page(
                content = ~{ :: formContent},
                title = ${contact.id == null ? 'Create new' : 'Edit record'},
                decor_color = ${contact.id == null ? 'green' : 'blue'}
        )}">
    <div
        th:fragment="formContent"
        id="common-content__inner-container"
        th:style="${'border-color: ' + (contact.id == null ? 'green' : 'blue') + ';'}">
        <!-- decor-color: green | blue -->
        <form th:action="${contact.id == null ? '/contacts/create' : '/contacts/edit'}" method="post">
            <div id="create-update-form__main-container">
                <th:block th:if="${contact.id != null}">
                    <div class="input-caption _red">ID:</div>
                    <div class="readonly-text _lightred" th:text="${contact.id}" />
                    <input type="hidden" name="id" th:value="${contact.id}" />
                </th:block>
                <div class="input-caption _orange">
                    <label for="firstName">First name:</label>
                </div>
                <div class="text-input-container _lightorange">
                    <input name="firstName" id="firstName" th:value="${contact.firstName}" />
                </div>

                <div class="input-caption _yellow"><label for="lastName">Last name:</label></div>
                <div class="text-input-container _lightyellow">
                    <input name="lastName" id="lastName" th:value="${contact.lastName}" />
                </div>

                <div class="input-caption _green"><label for="email">E&#x2011;Mail:</label></div>
                <div class="text-input-container _lightgreen">
                    <input name="email" id="email" th:value="${contact.email}" />
                </div>

                <div class="input-caption _blue"><label for="phone">Phone:</label></div>
                <div class="text-input-container _lightblue">
                    <input name="phone" id="phone" th:value="${contact.phone}" />
                </div>

                <div class="input-caption _magenta" th:text="${contact.id == null ? 'Create user:' : 'Save changes:'}" />
                <div class="submit-input-container _lightmagenta">
                    <input type="submit" th:value="${contact.id == null ? 'Create user' : 'Save changes'}">
                </div>
            </div>
        </form>
        <p id="para-return-to-index">
            <a th:href="@{/}">Back to index page</a>
        </p>
    </div>
</html>