<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{fragments/whole_page.html :: whole_page(
            content = ~{ :: indexPageContent},
            title = 'Index Page',
            decor_color = 'orange'
        )}"
>
    <div
        th:fragment="indexPageContent"
        id="common-content__inner-container"
        style="border-color: orange;">
        <p id="contacts-table__msg-no-contacts" th:if="${contactList} eq null or ${contactList.size()} eq 0">
            No contacts are stored at the moment
        </p>
        <div id="contacts-table__main-container" th:if="${contactList} ne null and ${contactList.size()} gt 0">
            <div class="contacts-table__header _red">ID</div>
            <div class="contacts-table__header _orange">First name</div>
            <div class="contacts-table__header _yellow">Last name</div>
            <div class="contacts-table__header _green">Phone</div>
            <div class="contacts-table__header _blue">E-Mail</div>
            <div class="contacts-table__header _magenta">Manage</div>
            <th:block th:each="contact : ${contactList}">
                <div class="_lightred" th:text="${contact.id}" />
                <div class="_lightorange" th:text="${contact.firstName}" />
                <div class="_lightyellow" th:text="${contact.lastName}" />
                <div class="_lightgreen" th:text="${contact.phone}" />
                <div class="_lightblue" th:text="${contact.email}" />
                <div class="_lightmagenta">
                    <a th:href="@{/contacts/edit/{id}(id=${contact.id})}">Edit</a>
                    <a th:href="@{/contacts/delete/{id}(id=${contact.id})}">Delete</a>
                </div>
            </th:block>
        </div>
        <p id="contacts-table__para-add-new">
            <a th:href="@{/contacts/create}">Create new</a>
        </p>
    </div>
</html>