<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{fragments/whole_page.html :: whole_page(
            content = ~{ :: indexPageContent},
            title = 'Error',
            decor_color = 'yellow'
        )}"
>
<div
    th:fragment="indexPageContent"
    id="common-content__inner-container"
    style="border-color: yellow;">
    <!-- CONTENT BEGIN -->
    <p>
        Unfortunately, the action you requested cannot be performed. The support team is notified about this issue.
        Please repeat your attempt later.
    </p>
    <p id="para-return-to-index">
        <a th:href="@{/}">Back to index page</a>
    </p>
</div>
</html>