<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{fragments/whole_page.html :: whole_page(
            content = ~{ :: indexPageContent},
            title = 'Error',
            decor_color = '#f0f'
        )}"
>
<div
        th:fragment="indexPageContent"
        id="common-content__inner-container"
        style="border-color: #f0f;">
    <!-- CONTENT BEGIN -->
    <p id="user-error-message__main-text"><span th:text="${error.message}" /></p>
    <p id="user-error-message__description"><span th:text="${error.description}" /></p>
    <p id="user-error-message__common-caption">
        <span>
            If you're sure that you should successfully perform the action you've failed with,
            please contact the support team.
        </span>
    </p>
    <p id="para-return-to-index">
        <a th:href="@{/}">Back to index page</a>
    </p>
</div>
</html>