/*
Convention used: BEM (block-name__element-name_modifier-name)
Table of contents:
1   Elements from blocks used commonly across pages, e.g. in general shared layout
1.1 Block «common content»
2   Elements from blocks used in separate pages, e.g. tables or forms dedicated to single subject
2.1 Table of contacts
2.2 Form to create/update contacts
2.3 Page for user-caused error
3   Elements and modifiers which can be met anywhere, without bias
3.1 Colored elements
3.2 Form element specifiers
*/

/* 1 Elements from blocks used commonly across pages, e.g. in general shared layout */
/* 1.1 Block «common content» */

div#common-content__main-container {
    margin: 5px;
    padding: 5px;
    border: 2px solid red;
}

div#common-content__inner-container {
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
}

h1#common-content__header-line {
    margin-left: 5px;
    padding: 0px;
    border-left: 10px solid red;
}

span#common-content__header-text {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fee;
}

/* 2 Elements from blocks used in separate pages, e.g. tables or forms dedicated to single subject */

/* 2.1 Table of contacts */

div#contacts-table__main-container {
    width: auto;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-gap: 2px;
}

div#contacts-table__main-container div {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

div.contacts-table__header {
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 4px #fff;
}

p#contacts-table__msg-no-contacts {
    background-color: #eee;
    border-left: 5px solid #ccc;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p#contacts-table__para-add-new {
    border-left: 5px solid #ff0;
}

p#contacts-table__para-add-new a {
    display: inline-block;
    padding: 5px;
    background-color: #eef;
}

/* 2.2 Form to create/update contacts */

div#create-update-form__main-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-start: 1;
    grid-column-end: 2;
}

div.create-update-form__input-caption {
    text-shadow: 0px 0px 4px #fff;
}

div#create-update-form__main-container div {
    padding-top: 4px;
    padding-bottom: 4px;
}

div#create-update-form__main-container div.input-caption {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

div#create-update-form__main-container div.text-input-container,
div#create-update-form__main-container div.submit-input-container {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}

div#create-update-form__main-container div.text-input-container input {
    border: 1px solid #777;
    background-color: rgba(255, 255, 255, 0.75);
}

div#create-update-form__main-container div.submit-input-container input {
    border: 1px solid #777;
    background-color: rgba(255, 255, 255, 0.75);
}

p#para-return-to-index {
    border-left: 5px solid #f00;
}

p#para-return-to-index a {
    display: inline-block;
    padding: 5px;
    background-color: #fdd;
}

/* 2.3 Page for user-caused error */
p#user-error-message__main-text,
p#user-error-message__description,
p#user-error-message__common-caption
{
    margin-top: 10px;
    margin-bottom: 10px;
}

p#user-error-message__main-text span,
p#user-error-message__description span,
p#user-error-message__common-caption span
{
    display: inline-block;
}

p#user-error-message__description,
p#user-error-message__common-caption {
    border-left: 4px solid #f0f;
}

p#user-error-message__main-text {
    border-left: 8px solid #f0f;
    font-size: 18px;
    margin-left: 0px;
}

p#user-error-message__main-text span {
    background-color: #fdf;
    padding-left: 6px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

p#user-error-message__description span {
    background-color: #fef;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 18px;
}
p#user-error-message__common-caption span {
    background-color: #fff7ff;
    padding-left: 10px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* 3 Elements and modifiers which can be met anywhere, without bias */
/* 3.1 Colored elements */

div._red {
    background-color: #f00;
    border: 1px solid #700;
}

div._lightred {
    background-color: #f77;
    border: 1px solid #f00;
}

div._orange {
    background-color: #f70;
    border: 1px solid #730;
}

div._lightorange {
    background-color: #fb7;
    border: 1px solid #f73;
}

div._yellow {
    background-color: #ff0;
    border: 1px solid #770;
}

div._lightyellow {
    background-color: #ff7;
    border: 1px solid #ff0;
}

div._green {
    background-color: #070;
    border: 1px solid #030;
}

div._lightgreen {
    background-color: #7f7;
    border: 1px solid #7b7;
}

div._blue {
    background-color: #00f;
    border: 1px solid #007;
    color: #fff;
}

div._lightblue {
    background-color: #77f;
    border: 1px solid #447;
}

div._magenta {
    background-color: #f0f;
    border: 1px solid #707;
    color: #fff;
}

div._lightmagenta {
    background-color: #f7f;
    border: 1px solid #737;
}

/* 3.2 Form element specifiers */
div.input-caption { }
div.text-input-container { }
div.submit-input-container { }