<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="whole_page(content)"
        th:with="
                title=${title} ?: 'Contact List',
                misc_head = ${misc_head} ?: ~{},
                decor_color = ${decor_color} ?: 'red'
        "
>
    <head>
        <meta charset="UTF-8" />
        <title th:text="${title}">Title</title>
        <link rel="stylesheet" href="/css/common.css" />
        <th:block th:replace="${misc_head}" />
    </head>
    <body>
        <div id="common-content__main-container">
            <h1 id="common-content__header-line" th:style="'border-left-color: ' + ${decor_color} + ';'">
                <span th:text="${title}" id="common-content__header-text" />
            </h1>
            <th:block th:replace="${content}" />
        </div>
    </body>
</html>